
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 24px;
    overflow-x: hidden;
}

/*GENÉRICOS*/
:root{
    --main_color: #FFB29E;
}
h1{
    font-size: 45px;
    color: black;
    font-weight: 500;
}
h2{
    font-size: 38px;
    color: black;
    font-weight: 500;
}
h3{
    font-size: 28px;
    color: black;
    font-weight: 500;
}

/*NAVEGADOR*/
#contenedor_navegador{
    background-color: white;
    width: 100%;
    height: 118px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    position: fixed;
    width: 100%;
    z-index: 2;
    max-width: 1080px;
}
.sombra_navegador{
    box-shadow: 10px 10px 21px rgb(0 0 0 / 2%);
}
#navegador ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 630px; /*60%*/
    font-weight: 500;
    font-size: 18px;
}

/*CONTENEDOR ONDA GRIS*/
/*#contenedor_onda_gris #onda_gris{
    width: 100vw;
    margin-top: 32px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: -1;
}*/
/*Cabecera*/
#cabecera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 128px;
    background-image: url(../SVG/onda_gris.svg);
    background-position: 0 30px;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: #F9F9F8;
}
#cabecera #texto_y_elementos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 537px;
    margin: 208px 118px 0 0;
}
#cabecera #boton_descargar{
    background-color: var(--main_color);
    width: 230px;
    height: 46px;
    font-weight: 500;
    font-size: 21px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#cabecera #hr_y_flecha_scroll{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#cabecera hr{
    border: none;
    border-bottom: 1px solid #D1D1D1;
    width: 564px;
    margin-top: 104px;
}
#cabecera #flecha_scroll{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: var(--main_color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 51px;
}
#cabecera #flecha_scroll #icono_flecha_scroll{
    padding-top: 6px;
}
#cabecera #home_movil{
    width: 418px;
}
/*Sección "Qué te ofrece JobTÚ"*/
#seccion_ofrece{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    background-color: #F9F9F8;
    padding-bottom: 80px;
}
#seccion_ofrece .p_letra_pequeña{
    font-size: 18px;
    margin-top: 10px;
    display: inline-block;
    line-height: 1.45;
}
#seccion_ofrece #imagen_empleo_ideal{
    width: 47%;
}
#seccion_ofrece .apartado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
}
#seccion_ofrece .apartado#apartado_empleo_ideal{
    margin-top: 35px;
}
#seccion_ofrece .texto_parrafos{
    width: 335px;
}
#seccion_ofrece .piedra_y_texto_parrafos{
    display: flex;
    flex-direction: row;
}
#seccion_ofrece .piedra_y_texto_parrafos .piedra_parrafos{
    margin-right: 16px;
}
#seccion_ofrece .piedra_y_texto_parrafos#empleo_ideal{
    /*width: 1080px;*/
    padding-right: 52px;
}
#seccion_ofrece .apartado#apartado_ofertas_reunidas{
    flex-direction: row-reverse;
}
#seccion_ofrece .apartado#apartado_ofertas_reunidas{
    margin-top: 55px;
}
#seccion_ofrece .piedra_y_texto_parrafos#envia_y_actualiza{
    padding-right: 74px;
}
#seccion_ofrece #texto_parrafos_envia_y_actualiza{
    width: 340px;
}
#seccion_ofrece .apartado#apartado_envia_y_actualiza{
    margin-top: 8px;
}
#seccion_ofrece #imagen_envia_y_actualiza{
    width: 42%;
}

/*CONTENEDOR ONDA BLANCA*/
#contenedor_onda_blanca #onda_blanca{
    width: 100vw;
}
/*Sección "Cómo funciona JobTÚ"*/
#seccion_como_funciona{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 320px;
}
#seccion_como_funciona .apartado{
    margin-bottom: 60px;
    width: 1080px;
    position: relative;
}
#seccion_como_funciona .apartado_txt_derecha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#seccion_como_funciona .imagen_izquierda{
    width: 50%;
    position: relative;
    left: 40px;
    top: -40px;
}
#seccion_como_funciona #imagen_onda_preferencias{
    position: absolute;
    z-index: -1;
    width: 780px;
}
#seccion_como_funciona .p_txt_derecha{
    width: 320px;
    position: relative;
    left: 25px;
    top: 55px;
}
#seccion_como_funciona .apartado_txt_izquierda{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#seccion_como_funciona .imagen_derecha{
    width: 50%;
    position: relative;
    left: 75px;
    top: -40px;
}
#seccion_como_funciona #imagen_onda_favoritos{
    position: absolute;
    z-index: -1;
    width: 1000px;
    right: -160px;
}
#seccion_como_funciona .p_txt_izquierda{
    width: 320px;
    position: relative;
    left: 96px;
    top: 64px;
}
#seccion_como_funciona #imagen_onda_contactar{
    position: absolute;
    z-index: -1;
    width: 950px;
    left: -80px;
    top: -20px;
}
#seccion_como_funciona #contactar .p_txt_derecha{
    top: 25px;
}
#seccion_como_funciona #imagen_onda_sube_o_crea{
    position: absolute;
    z-index: -1;
    width: 800px;
    right: -5px;
}
#seccion_como_funciona #imagen_onda_editar{
    position: absolute;
    z-index: -1;
    width: 1000px;
    left: -156px;
    top: -13px;
}
/*Sección "Valoraciones"*/
#seccion_valoraciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
#seccion_valoraciones #contenedor_slide_valoracion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#seccion_valoraciones #contenedor_valoracion_total_y_bullets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#seccion_valoraciones #valoracion_total{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 22px 100px 38px 100px;
}
#seccion_valoraciones #valoracion_total #foto_valoracion_2{
    width: 240px;
}
#seccion_valoraciones #contenedor_estrellas_nombre_y_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 55px;
}
#seccion_valoraciones #contenedor_estrellas_nombre_y_texto #nombre_valorador{
    font-weight: 500;
    margin: 28px 0 8px 0;
}
#seccion_valoraciones #contenedor_estrellas_nombre_y_texto p#parrafo_valoracion{
    width: 365px;
    font-size: 18px;
    display: inline-block;
    line-height: 1.45;
    margin: 0;
}

/*CONTENEDOR ONDA GRIS FOOTER*/
#contenedor_onda_gris_footer{
    height: 550px;
    width: 100vw;
    background-image: url(../SVG/onda_gris_footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: absolute;
    z-index: -1;
    top: 7190px;
}
/*Footer*/
#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 185px;
}
#footer #botones_descarga{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#footer #botones_descarga img{
    margin: 0 20px;
}
#footer hr{
    border: none;
    border-bottom: 1px solid #D1D1D1;
    width: 1080px;
    margin-top: 70px;
}
#footer #logo_e_iconos_RRSS{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 365px;
}
#footer #logo_e_iconos_RRSS #iconos_RRSS{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}
